modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5904
externalPort = 3000

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_anthropic_ai_integrations:1.0.0", "resend:1.0.0", "javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
CAREERNET_API_KEY = "d0b761c825e0a9e4b163e05c50d0bad8"
PUBLIC_DATA_API_KEY = "EPAKlDet6MXK1vhdVCgpJFD8a25+J2szibvuzPKyVB/S7h/PlcfAtNdKoQtYNh3aW+UUsVHUkl8Xb3aSbmQLCA=="

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
